<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader" th:fragment="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Easy Deal</p>
    </div>
</div>
</body>
</html>